body{
    font-family: Open Sans, sans-serif;
}
.h_form{
    font-weight: normal;
    color: #4b8aff;
}
.btn_main{
    cursor: pointer;
    user-select: none;
    outline: none;
    border: none;
    background: #0F2C82;
    padding: 0 30px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px 0px rgba(34, 60, 80, 1);

    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    transition: all 400ms;

    margin: 0 10px;
    &:hover{
        background: #1943C1;
        transform: scale(1.05);
    }
    &:disabled{
        background: rgba(15, 44, 130, 0.5);
    }
}
.azure{
    height: 40px;
    background: #1e90ff;
    &:hover{
        background: #0290ff;
    }
}
.img_deck{
    width: 300px;
    & > img{
        width: 100%;
        max-height: 200px;
    }
    margin-right: 20px;
}
.flex_row{
    display: flex;
}
.flex_space{
    display: flex;
    justify-content: space-between;
}
input{
border: 2px solid #6e4dff;
height: 40px;


}
input[type=date]{
    color: rgb(39, 39, 39);
    font-size: 20px;
}
.form{
    background-color: #f9f9fd;
    box-shadow: 4px 4px 20px 0px rgb(0, 0, 0);
    border-radius: 20px;
    padding: 30px;
}
.wrap{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & > button{
        margin-bottom: 15px;
        width: 200px;
    }
}

.btn_dop{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border: 0;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 16px;
    background-color: #C9BFBF;
    font-weight: 600;
    color: #2c1616;
    transition: all 400ms;
    box-shadow: 1px 1px 5px 0px rgb(0, 0, 0);
    &:hover{
        background-color: #e2dcdc;
    }
}

.btn_delete{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border: 2px solid #be3c3c;
    height: 30px;
    border-radius: 15px;
    color: black;
    font-size: 14px;
    font-weight: 500;
    transition: all 400ms;
    background-color: #f9f9fd;
    &:hover{
        background-color: #be3c3c;
        color: white;
    }
}
.product_deck{
    width: calc(100% - 40px);
    display: flex;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.486);
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 35px;
    & > div:nth-child(2){
        width: 60%;
        & > div:nth-child(1){
            text-align: center;
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
}
.image_product_deck{
    display: flex;
    width: 40%;
    max-height: 200px;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    & > img{
        width: 100%;
        height: auto;
        max-height: 200px;
    }
}
.product_metal_list{
    display: flex;
    flex-wrap: wrap;
    & > div:first-child{
        margin-top: 5px;
    }
    .product_metal{
        margin-top: 5px;
        margin-left: 10px;
    }
}
.product_metal{
    width: fit-content;
    padding: 0 10px;
    background-color: #77bdff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px rgb(0, 0, 0);
}
.product_deck_cost_count{
    display: flex;
    justify-content: space-between;
}
.product_deck_location{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    border-radius: 10px;
    padding: 5px 15px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.295);
    background-color: rgb(238, 238, 238);
    & > div:nth-child(2){
        & > div:nth-child(1){
            font-weight: bold;
        }
        & > div:nth-child(2){
            font-size: 14px;
        }
    }
}
.product_deck_description{
    padding: 5px 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.295);
    background-color: rgb(238, 238, 238);
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    background-color: #f9f9fd;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.295);
}
.find_bar{
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.295);
    margin-bottom: 20px;
}
.manager_contract{
    display: flex;
    margin: 15px 0;
    & > div:nth-child(1){
        width: 250px;
    }
    & > div:nth-child(2){
        width: 100%;
    }
}
.infoWorker{
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    padding-right: 20%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.295);
    font-size: 20px;
    & > div{
        margin-right: 80px;
    }
}
.infoSmithy{
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    padding-right: 20%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.295);
    font-size: 20px;
    & > div:nth-child(1){
        width: 100px;
    }
    & > div:nth-child(2){
        width: 250px;
    }
    & > div:nth-child(3){
        width: 350px;
    }
}
.infoEmployes{
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    padding-right: 20%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.295);
    font-size: 20px;
    & > div{
        margin-right: 25px;
    }
}
.single_metal{

    display: flex;
    height: 30px;
    align-items: center;
    font-size: 18px;
    padding: 10px 10px;
    justify-content: flex-start;
    margin: 10px 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.295);
    background-color: #f9f9fd;
    transition: all 400ms;
    & > div:nth-child(1){
        margin-right: 100px;
    }
    & > div:nth-child(2){
        width: 150px;
    }
    & > div:nth-child(3){
        width: 250px;
    }
    & > div:nth-child(4){
        width: 120px;
    }
    & > button{
        padding: 0 15px;
    }
    &:hover{
        transform: scale(1.06);
    }
}
.delivery_single{
    display: flex;
    height: 30px;
    align-items: center;
    font-size: 18px;
    padding: 10px 10px;
    justify-content: space-between;
    margin: 10px 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.295);
    background-color: #f9f9fd;
    transition: all 400ms;
    &:hover{
        transform: scale(1.02);
    }
    & > div:nth-child(1){
        margin-right: 80px;
        width: 50px;
    }
    & > div:nth-child(2){
        width: 150px;
    }
    & > div:nth-child(3){
        width: 150px;
    }
}
.info_delivery{
    display: flex;
    padding: 10px 20px;
    padding-right: 20%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.295);
    font-size: 20px;
    background-color: #f9f9fd;
    justify-content: flex-start;
    & > div{
        margin-right: 250px;
    }
}
.single_smithy{
    display: flex;
    align-items: center;
    margin: 10px 10px;
    padding: 10px 5px;
    background-color: #f9f9fd;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.295);
    & > div:nth-child(1){
        width: 100px;
    }
    & > div:nth-child(2){
        width: 250px;
    }
    & > div:nth-child(3){
        width: 350px;
    }
    & > button{
        height: 30px;
        margin-right: 35px;
    }
}
.worker{
    display: flex;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.295);
    text-align: center;
    justify-content: space-between;
    height: 50px;
    margin: 10px 10px;
    align-items: center;
    padding: 0 30px;
    & > button{
        height: 40px;
    }
    & > div{

        margin-right: 15px;
    }
}
.single_customer{
    display: flex;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.295);
    text-align: center;
    justify-content: flex-start;
    height: 50px;
    margin: 10px 10px;
    align-items: center;
    padding: 0 30px;
    & > button{
        height: 40px;
    }
    & > div{
        text-align: left;
        margin-right: 10px;
    }
    & > div:nth-child(1){
        width: 60px;
    }
    & > div:nth-child(2){
        width: 130px;
    }
    & > div:nth-child(3){
        width: 150px;
    }
    & > div:nth-child(4){
        width: 170px;
    }
    & > div:nth-child(5){
        width: 150px;

    }
    & > div:nth-child(6){
        width: 140px;

    }
    & > div:nth-child(7){
        width: 150px;

    }
}
.single_order{
    display: flex;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.295);
    height: 50px;
    margin: 10px 10px;
    align-items: center;
    padding: 0 30px;
    width: calc(100% - 60px - 20px);
    & > div{
        text-align: left;
        overflow: hidden;
    }
    & > div:nth-child(1){
        min-width: 50px;
        max-width: 50px;
    }
    & > div:nth-child(2){
        min-width: 50px;
        max-width: 50px;
    }
    & > div:nth-child(3){
        min-width: 100px;
        max-width: 100px;
    }
    & > div:nth-child(4){
        min-width: 150px;
        max-width: 150px;
    }
    & > div:nth-child(5){
        min-width: 150px;
        max-width: 150px;
    }
    & > div:nth-child(6){
        min-width: 150px;
        max-width: 150px;
    }
    & > div:nth-child(7){
        min-width: 180px;
        max-width: 180px;
    }
    & > div:nth-child(8){
        min-width: 150px;
        max-width: 150px;
    }
    & > div:nth-child(9){
        min-width: 130px;
        max-width: 130px;
    }
}
.smith_single{
    cursor: pointer;
    display: flex;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.295);
    padding: 5px 10px;
    background-color: #ffffff;
    transition: all 400ms;
    & > div{
        margin-right: 15px;
    }
    &:hover{
        background-color: #cfcfcf;
        transform: scale(1.02);
    }
}
